{% load navbar_icon %}
{% footer_services as services %}

<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/abubakr_abdurashidov/"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'main:index' %}#home-section"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                        <li><a href="{% url 'main:index' %}#about-section"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                        <li><a href="{% url 'main:index' %}#services-section"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
                        <li><a href="{% url 'main:index' %}#projects-section"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li>
                        <li><a href="{% url 'main:index' %}#contact-section"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    
                    <ul class="list-unstyled">
                        {% for service in services %}
                        	<li><a href="#"><span class="icon-long-arrow-right mr-2"></span>{{ service.title }}</a></li>
                      
                        
                         {% endfor %}
                    </ul>
                     
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">30 Osiyo St. Tashkent, Tashkent, Uzbekistan</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+998 (88) 218 30 05</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text"><span>abubakrabdurashidov555@gmail.com</span></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;<script data-cfasync="false"
                                            src="https://preview.colorlib.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart color-danger"
                                                                        aria-hidden="true"></i> by <a
                        href="https://colorlib.com/" target="_blank">Abu Bakr</a>
                </p>
            </div>
        </div>
    </div>
</footer>
